$base_color: #333333;
$title_color: #bdbdbd;
$footer_text_color: #ffffff;
$hover_button_color: #f2f2f2;
$count_number_color: #e0e0e0;
$about_background_color: #fbfbfb;
$input_background_color: #f3f3f3;
